#coalition {
	align-items: flex-start;
	h1 {
		text-align: left;
	}
	p {
		text-align: left;
	}
	h4 {
		text-align: left;
	}
}
#coalition_about {
	background: #D9D8D7;
	#parts {
		width: 80vw;
		display: flex;
		justify-content: center;
		align-items: stretch;
		position: relative;
		max-height: 700px;
		li {
			padding: 20px;
			width: 20%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			cursor: pointer;
			transition: all 0.3s ease;
			border: 3px solid transparent;
			box-sizing: border-box;
			h2 {
				font-size: 30px;
				text-align: center;
				margin-bottom: 20px;
			}
			a {
				margin-top: 20px;
				color: #4e6f52;
				border: 1px solid #4e6f52;
				width: 180px;
				margin: 0 auto;
				margin-top: 20px;
				display: flex;
				justify-content: center;
				align-items: center;
				opacity: 0;
				pointer-events: none;
				transition: all 0.3s ease;
				padding: 10px 0;
				
			}
			img {
			}
			&:hover {
				border: 3px solid #4e6f52;
				background: rgba(255,255,255,0.8);
				a {
					opacity: 1;
					pointer-events: auto;
				}
			}
		}
		@media(max-width:900px) {
			li {
				h2 {
					font-size: 20px;
				}
			}
		}
		.prev {
			position: absolute;
			bottom: -40px;
			left: 10vw;
			font-size: 30px;
		}
		.next {
			position: absolute;
			bottom: -40px;
			right: 10vw;
			font-size: 30px;
		}
		&:after {
			content: 'SWIPE';
			font-family: "flamaSemi";
			position: absolute;
			bottom: -40px;
			left: 50%;
			transform: translateX(-50%);
			@media(min-width:1000px) {
				display: none;
			}
		}
	}

}
#sli {
	img {
		width: 300px;
	}
}
#coalition_board {
	flex-direction: row;
	@media(max-width:900px) {
		flex-direction: column;
		#board {
			height: 40vh;
			width: 60%
		}
		.wrap {
			align-self: flex-start;
			transform: translateY(-20px);
			h1 {
				font-size: 24px;
			}
			h2 {
				font-size: 14px;
			}

		}
	}
}
#boardone {
	z-index: 2;
	position: absolute;
    	top: 0;
    	left: 0;
    	width: 30%;
}
#boardthree {
    	position: absolute;
    	left: 50%;
    	top: 50%;
    	transform: translate(-50%,-69%);
    	width: 70%;
}
#boardfive {
	flex: 40%;
	z-index: 10;
    width: 10%;
    position: absolute;
    width: 70%;
    bottom: 0;
    left: 0;
}
#boardfour {
	flex: 50%;
    width: 50%;
    transform: translate(25%,30%);
    position: absolute;
}
#boardtwo {
	flex: 20%;
	width: 60%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-50%);
}
#board {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	height: 60vh;
	position: relative;
	flex-wrap: wrap;
	width: 80%;
	max-width: 600px;

}
.curs {
    font-family: "heart" !important;
    color: #ECE5C9;
    font-size: 40px;
    cursor: pointer;
}
#coalition_testimonial {
	background-color: #4E584A;
	h1 {
		text-align: center;
	}
	@media(max-width:600px) {
		h1 {
			font-size: 24px;
			margin-bottom: 5px;
		}
		h4 {
		}
	}
}
.sli {
	width: 80%;
}
.prevrow, .nextrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -80px;
	width: 50px;
	z-index: 50;
	@media(max-width:1000px) {
		width: 40px;
		left: 0;
		bottom: 0;
		top: auto;
		transform: none;
	}
	@media(max-width:600px) {
		width: 20px;
	}
}
.nextrow {
	left: auto;
	right: -80px;
	@media(max-width:1000px) {
		right: 0;
		left: auto;
	}
}
#test {
	li {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	p {
		margin-bottom: 40px;
		text-align: center;
	}
	@media(max-width:600px) {
		width: 100%;
	}
}
@media(max-width:600px) {
	.slide h1 {
		font-size: 20px;
	}
}
@media(max-height:780px) {
	#board {
		max-width: 410px;
		height: 63vh;
	}
}
#activities {
	align-items: flex-start;
	h1 {
		text-align: left;
	}
	p {
		text-align: left;
	}
}
#activities_about {
	flex-direction: row;
	h4 {
		color: white;
	}
	h1 {
		color: white;
		margin-bottom: 0;
	}
	.copy {
		color: white;
		max-width: 50%;
	}
}
#greenhand {
	width: 140px;
}
#activities_proj1 {
	background-color: black;
}
#actphotos {
	top: 0;
	left: 0;
	position: absolute;
	width: 100vw;
}
#activities_proj1 {
	align-items: center;
	h4 {
		text-align: center;
	}
	h1 {
		text-align: center;
	}
	p {
		text-align: center;
	}
	.wrap {
    		text-align: center;
    		display: flex;
    		flex-direction: column;
    		justify-content: center;
    		align-items: center;
	}
}
.boxbutt {
	padding: 15px 20px;
	width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	border: 1px solid;
	font-size: 18px;
	font-weight: 500;
	margin-top: 40px;
}
.projmode {
	position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url('coalition_about.png');
    background-color: black;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    .slick-slide {
    	display: flex;
    	justify-content: center;
    }
}
.slicent {
	width: 100%;
	.centframe {
		width: 80vw;
		height: 70vh;
		background-size: cover;
		background-position: center;
	}
	.prevgal, .nextgal {
		position: absolute;
		width: 60px;
		padding: 20px;
		background: rgba(0,0,0,0.5);
		top: 50%;
		transform: translateY(-50%);
		z-index: 50;
	}
	.prevgal {
		left: 10vw;
	}
	.nextgal {
		right: 10vw;
	}
}
.allproj {
	position: absolute;
	top: 0;
	left: 20vw;
	z-index: 55;
}
