@media(max-width:600px) {
	#formcont {
		padding-top: 0 !important;
		justify-content: flex-start !important;
	}
	#formcont #nomess {
		bottom: 5px !important;
		right: 5px !important;
		position: fixed !important;
		top: auto !important;
		right: auto !important;
	}
	#formcont .field {
	}
	.slide h1 {
		font-size: 36px !important;
	}
}

